{{ partial "header.html" . }}

<section class="blog-post">
    <h1>{{ .Title }}</h1>
    <div class="blog-post-subheader">
        {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }}
    </div>
    <div class="blog-post-content">
        {{ .Content }}
    </div>
</section>
{{ if .Params.Tags }}
<section class="post-tags">
  <hr>
  Tags:
  <ul class="post-tag-list">
    {{ range (.GetTerms "tags") }}
      <li class="post-tag-list-item"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>;</li>
    {{ end }}
  </ul>
</section>
{{ end }}

{{ partial "footer.html" . }}
