{{ partial "header.html" . }}

<section id=content>
    <ul class=posts_listing>
      <div id="posts">
        {{ range .Site.RegularPages.ByPublishDate.Reverse }}
          <div class="post-conatiner">
            <div class="date-time-title date-time-font">
                <time>{{ .Date.Format (.Site.Params.dateform | default "Jan 02 2006") }}</time>
            </div>
            <div class="date-time-title post">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
          </div>
        {{ end }}
      </div>
    </ul>
  </section>

{{ partial "footer.html" . }}
